MYSQL_ROOT_PASSWORD=replace_with_random_secret
MYSQL_DATABASE=jsh_erp
MYSQL_USER=flowpilot
MYSQL_PASSWORD=replace_with_random_secret
MYSQL_PORT=3308
REDIS_PASSWORD=replace_with_random_secret
REDIS_PORT=6388
BACKEND_PORT=9999
HTTP_PORT=8088
ERP_ADMIN_PASSWORD=replace_with_random_secret
ERP_TENANT_PASSWORD=replace_with_random_secret
ERP_DEMO_PASSWORD=replace_with_random_secret
